@font-face {
  font-family: 'Digi';
  src: url('fonts/ds-digib.ttf');
}

body {
  font-family: Arial;
  font-size: 80px;
  font-weight: bold;
  padding: 40px 0;
}

#clock {
  border: 2px solid #000;
  border-radius: 20px;
  box-sizing: border-box;
  height: 250px;
  margin: 0 auto;
  padding: 18px 0;
  width: 245px;
}

#sphere {
  border: 2px solid #000;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: 'Digi';
  font-size: 80px;
  height: 210px;
  margin: 0 auto;
  padding: 35px 0;
  position: relative;
  text-align: center;
  width: 220px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.img{
  margin-left: 30px;
  width:100px;
  height:100px;
  display: flex;
  justify-content:center;
  float:inline-start;
}

#splits-container {
  font-size: 20px;
  font-weight: 100;
  position: absolute;
  left: 50px;
}

#splits-container li {
  padding-bottom: 5px;
  text-align: right;
}

#milliseconds {
  font-size: 36px;
  position: absolute;
  top: 20px;
}

.leash {
  background: rgb(169, 143, 209);
  border: 2px solid rgb(0, 0, 0);
  height: 50px;
  margin: 0 auto;
  width: 120px;
}

.emiand13{
color:rgb(0, 0, 0);
font-size: 15px;
text-align: justify;
text-align: center;
margin-top: 15px;

}



.leash-top {
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.leash-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 0;
  height: 270px;
  padding-top: 50px;
}

.hole {
  background: #fff;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 100%;
  height: 20px;
  margin: 0 auto 50px;
  width: 20px;
}

.number {
  width:40px;
}

.btn {
  border: 0;
  border-radius: 100%;
  bottom: 10px;
  color: #fff;
  cursor: pointer;
  height: 50px;
  outline: 0;
  position: absolute;
  width: 50px;
}

.btn.start,
.btn.stop {
  left: 10px;
}

.btn.reset,
.btn.split {
  right: 10px;
}

.btn.start {
  background: rgb(87, 255, 104);
}
.btn.stop {
  background: #ff0000;
}
.btn.reset {
  background: #343232;
}
.btn.split {
  background: #0851ab;
}


/* // Pantallas grandes */

@media (max-width: 1400px) {
  html {
    font-size: 25px;
  }
}

/* // Tabletas  */

@media (max-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* // Celulares  */

@media (max-width: 450px) {
  html {
    font-size: 12px;
  }
}